name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint-and-format:
    name: Lint and Format Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Run Biome check (lint + format)
        run: npm run lint

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: package-lock.json
      - name: Get Neon branch name
        id: neon-branch-name
        run: echo "BRANCH_NAME=unit-${{ github.run_id }}" >> "GITHUB_ENV"
      - name: Get branch expiration date as an env variable (2 weeks from now)
        id: get-expiration-date
        run: echo "EXPIRES_AT=$(date -u --date '+14 days' + '%Y-%m-%dT%H:%M:%SZ')" >> "GITHUB_ENV"
      - name: Create Neon branch
        uses: neondatabase/create-branch-action@v6
        id: create-neon-branch
        with:
          project_id: ${{ secrets.NEON_PROJECT_ID }}
          branch_name: ${{ env.BRANCH_NAME }}
          api_key: ${{ secrets.NEON_API_KEY }}
          expires_at: ${{ env.EXPIRES_AT }}
      - name: Install dependencies
        run: npm ci
      - name: Run unit tests
        run: npm run test
